<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>hola mundo</title>
        <link rel="stylesheet" type="text/css" href="stylosurl/estilosurl.css"/>
    
    </head>
    
    <body>
        <form>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" placeholder="Escribe tu nombre">

            <label for="email">Correo Electronico</label>
            <input type="email" id="email" placeholder="Correo Electronico">

            <label for="Contraseña">Contrseña</label>
            <input type="text" id="contraseña" placeholder="Contraseña">

            <label for="Repita la Contraseña">Repita Contraseña</label>
            <input type="text" id="contraseña2" placeholder="Contraseña">

            <input class="boton" type="submit" value="Enviar">
           
            
        </form>
    </body>
    
</html>